@font-face {
    font-family: "liento-circular-black";
    src: local("liento-circular-black"), url('../fonts/lineto-circular-black.woff') format('woff')
}

@font-face {
    font-family: "proxima-nova-bold-webfont";
    src: local("proxima-nova-bold-webfont"), url('../fonts/proxima-nova-bold-webfont.woff') format('woff')
}



.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    width: 50%;
    height: 50%;
    left: 25%;
  }
  
.popup-overlay.active {
/*displays pop-up when "active" class is present*/
visibility: visible;
text-align: center;
}
  
.popup-content {
/*Hides pop-up content when there is no "active" class */
visibility: hidden;
}

.popup-content.active {
/*Shows pop-up content when "active" class is present */
visibility: visible;
}


#header-bar{
    display: block;
    background-color: rgba((250,248,248,0.5));
    overflow: hidden;
    /* opacity: 0.5; */
}
#header-bar a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 800;
    margin-top:25px;
    margin-right: 50px;
    margin-bottom: 25px;
}
a:hover{
    /* color: -webkit-link; */
    cursor: pointer;
    text-decoration: underline;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.about
{
    background-color: white; /* Green */
    border: 2px solid black;
    color: black;
    /* text-decoration: none; */
    display: inline-flex;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: -100px;
    margin-left: 150px;
    padding: 0px 10px;
}

.about:hover
{
    color: white;
    /* background-color: black; */
    /* color: white; */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#expandButton
{
    background: none;
    border: none;
    box-sizing: border-box;
    /* display: block; */
    width: 100%;
    font-size: 25px;
}
#expandButton:hover{
    /* color: white;  */
    /* background-color: black; */
    text-decoration: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/samplehero.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.name {
    font-size: 85px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 0px 100px;
    color: white;
    /* font-family: "New-Spirit" ; */
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
}

.pfp {
    /* display: inline-flex; */
    /* not circular for some reason */
    /* border-radius: 50%; */
    margin-top: 50px;
    /* margin-left: 10px; */
    margin-right: 10px;
    padding-right: 300px;
    /* width: 100px;
    height: 100px; */
    transform: scale(0.75,0.75);
    /* text-align:right; */
    float: right;
}

.footer{
    position: fixed;
    background-color: #373738;
    bottom: 0;
    width: 100%;
}

/* .footer ul{
    display: inline-block;
    vertical-align: top;
    list-style: none;
} */


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
}

.body {
    height: 100vh;
    position: initial;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
